# Dependency directories
node_modules/
/client/node_modules/
/server/node_modules/

# Local env files
.env
/server/.env

# Visual Studio Code settings
.vscode/

# Build artifacts
dist/
build/
/client/dist/

# OS files
.DS_Store
Thumbs.db
